{% extends 'base.html.twig' %}

{% block title %}Dashboard {{ controller_name }}!{% endblock %}

{% block body %}
<div style="height:100%;width:100%;text-align:center;">
	Limita: <input id="limita" type="text" style="width:100px;" value="25"/>
	Delay: <input id="delay" type="text" style="width:100px;" value="3"/>
	  <div class="row" style="width:100%;">
	    <div class="col-sm" style="padding:40px;">
	      	<div style="height:100%width:100%;">
	      		<canvas id="canvas"></canvas>
	      	</div>
	    </div>
	  </div>
</div>

{% endblock %}

{% block javascripts %}
	<script src="/js/moment.min.js"></script>
	<script src="/js/Chart.min.js"></script>
	<script src="/js/utils.js"></script>
	
	<script src="/js/dashboard/dashboard.js"></script>
{% endblock %}
